<div class="flex-info">
    <div class="image-viewer">
        <img src="{{ram.images.[0]}}" id="main-image" class="main-image" alt="{{ram.name}}">
        <div class="images-list">
            <img src="{{ram.images.[0]}}" alt="{{ram.brand}} {{ram.model}}">
            <img src="{{ram.images.[1]}}" alt="{{ram.brand}} {{ram.model}}">
            <img src="{{ram.images.[2]}}" alt="{{ram.brand}} {{ram.model}}">
        </div>
    </div>
    <div class="flex-item-processor-details">
        <p class="lg-flex-z" item-title>{{ram.brand}}</p>
        <p>Model:  {{ram.model}}</p>
        <p>Speed: {{ram.speed}}</p>
        <p>Capacity: {{ram.capacity}}</p>
        <p>Latency: {{ram.latency}}</p>
        <p>Voltage: {{ram.voltage}}</p>
        <p class="lg-flex-z" data-price>Price: <span class="strkthru">{{ram.oldPrice}}</span>&nbsp;{{ram.currentPrice}}</p>
        <form action="/">
            <div class="buttons">
                <a href="/ram/buy/{{ram.slug}}" class="buy-item">Buy Now</a>
                <a href="#" class="buy-item" add-to-cart>Add to Cart</a>
            </div>
        </form>
    </div>
    </div>